.footer-cont {
    border-top: 1px solid #585858;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.left-sides {
    text-align: left;
    width: 50%;
}

.right-sides {
    text-align: right;
}

.fot-descr {
    color: #585858;
    font-size: 15px;
}

.help {
    color: #585858;
    font-size: 14px;
    margin-bottom: 0;
}

.team {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-img {
    height: 6vh;
    width: 6vw;
}

.phone-number {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    margin-left: 0;
}

.mail {
    display: flex;
    align-items: center;
}

.mail-img {
    height: 6vh;
    width: 6vw;
}

.mail.name {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    margin-left: 0;
}